body{
    margin: 0;
    font-family: 'helvetica' , 'sans-serif';
}

h1 , h2 ,h3{
    text-align: center;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
}

h1{
    font-size: 4em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1em;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.flex{
    display: flex;
    max-width: 1150px;
    margin: 0 auto ;
}

header{
    background-color: #0f3057;
    padding: 20px;
    position: relative;
}

header .flex{
    display: flex;
    justify-content: space-between;

}

.logo a{
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
}

.logo a:hover{
   
    text-decoration: none;
}

.logo span{
    color: #008891;
}

.hamburger-menu{
    background-color: transparent;
    border: 1px solid #fff;
    padding: 3px 5px;
    width: 30px;
    cursor: pointer;
    display: none;

}

.hamburger-menu .strip{


    display: block;
    height: 1px;
    background-color: #fff;
    margin: 4px 0 ;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;

}

nav ul li{
    display: inline-block;
    font-size: 0.75em;
    margin: 0 12px;
}

nav ul li a {
    color: #fff;
}